@use './colors';

#StatusBar {
  background: $surface-bright;
}

.main {
  margin: 10px 0;
}

.left-box {
  margin-left: 200px;
}

.launcher {
  &-button {
    background: $secondary-container;
  }
  &-icon {
    color: $on-secondary-container;
  }
}

.workspaces {
  background: $secondary-container;
  padding: 0 5px;
  border-radius: 10px;

  &-icon {
    color: $on-secondary-container;
  }
}

.focused {
  color: $error;
}
/*Right */
.right {
  margin-right: 200px;
}
/*Time */
.time {
  border-radius: 5px;
  padding: 5px;
  background: $secondary-container;
  color: $on-secondary-container;
}

.volume {
  margin-right: 20px;
  background: $secondary-container;
  padding: 0 5px;
  border-radius: 10px;
  color: $on-secondary-container;
}

.combo {
  background: $secondary-container;
  padding: 0 5px;
  border-radius: 10px;
}

.wifi-icon {
  font-size: 1.5em;
  color: $on-secondary-container;
}
/*Battery style*/
.battery {
  margin: 0 10px;
}

.battery {
  &-progress {
    trough {
      min-width: 75px;
      min-height: 20px;
      border-radius: 2.5px;
      border: 1px solid $on-surface;
    }

    progress {
      min-height: 18px;
      border-radius: 2.5px;
      background: $on-primary-container;
    }
  }

  &-bulb {
    min-width: 3px;
    min-height: 14px;
    background: $on-surface;
  }
}

.arch {
  &-button {
    margin-left: 10px;
    background: $secondary-container;
  }

  &-icon {
    color: $on-secondary-container;
  }
}
